global
    log /tmp/haproxy.log local0
    debug
    maxconn 256
    daemon


    # Default SSL material locations
#        ca-base /etc/ssl/certs
#        crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    #ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    log     global
    option  httplog
    option  dontlognull

frontend main
    bind *:80
    mode http

    acl auth path_beg -i    /auth
    use_backend keycloak    if auth
    default_backend wildfly


backend wildfly
    mode http
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    #option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server wildfly0 keycloak:8080 check


backend keycloak
    mode http
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    #option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server keycloak0 keycloak:8080 check


#listen deploy
#    bind *:9990
#    mode http
#    server wildfly  keycloak:9990 check

listen monitoring
    bind *:1936
    stats enable
    stats uri /
    stats hide-version
    stats auth someuser:password
